.search-user-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-user-box {
    max-width: 600px;
    width: 420px;
    height: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.search-user-title {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Centraliza o título */
}

.search-user-select,
.search-user-input {
    width: calc(100% - 22px); /* Ajuste da largura */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: left; /* Alinha o texto à esquerda */
}

.search-user-select,
.search-user-input {
    width: 100%; /* Deixe a largura ocupar 100% da caixa */
}

.search-user-select:hover,
.search-user-input:hover {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-user-select:focus,
.search-user-input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}

.search-user-button {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-user-button:hover {
    background-color: #0056b3;
}

.search-user-error {
    color: red;
    text-align: center;
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-user-results-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.search-user-result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.search-user-result-item:hover {
    background-color: #e0e0e0;
}

.search-user-result-item:last-child {
    border-bottom: none;
}

.search-user-no-results {
    text-align: center;
    color: #666;
    margin-top: 10px;
}

.search-user-no-results {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }