--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.clients (
    client_id integer NOT NULL,
    client_code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    document character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.clients OWNER TO hotel_admin;

--
-- Name: clients_client_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

CREATE SEQUENCE public.clients_client_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_client_id_seq OWNER TO hotel_admin;

--
-- Name: clients_client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hotel_admin
--

ALTER SEQUENCE public.clients_client_id_seq OWNED BY public.clients.client_id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE IF NOT EXISTS rooms (
    id SERIAL PRIMARY KEY,
    number_room VARCHAR(10) UNIQUE NOT NULL,
    name VARCHAR(100) NOT NULL,
    type_room VARCHAR(20) NOT NULL CHECK (type_room IN ('Single room', 'Double room', 'Triple room', 'Quadruple room')),
    category_room VARCHAR(20) NOT NULL CHECK (category_room IN ('Main house', 'Garden', 'Tower 1', 'Tower 2')),
    beds INT NOT NULL,
    size VARCHAR(20) NOT NULL,
    options TEXT[],
    status VARCHAR(20) DEFAULT 'available',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.rooms OWNER TO hotel_admin;

--
-- Name: rooms_room_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

CREATE SEQUENCE public.rooms_room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rooms_room_id_seq OWNER TO hotel_admin;

--
-- Name: rooms_room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hotel_admin
--

ALTER SEQUENCE public.rooms_room_id_seq OWNED BY public.rooms.room_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: hotel_admin
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    name character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'staff'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO hotel_admin;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: hotel_admin
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO hotel_admin;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hotel_admin
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: clients client_id; Type: DEFAULT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.clients ALTER COLUMN client_id SET DEFAULT nextval('public.clients_client_id_seq'::regclass);


--
-- Name: rooms room_id; Type: DEFAULT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.rooms ALTER COLUMN room_id SET DEFAULT nextval('public.rooms_room_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.clients (client_id, client_code, name, email, phone, document, created_at, updated_at) FROM stdin;
2	CLI718560	michael candida	test@email.com	18928347467	213727417470	2025-03-29 12:51:58.585628	2025-03-29 12:51:58.585628
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.rooms (room_id, name, beds, bathroom, capacity, size, options, status, price_per_night, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: hotel_admin
--

COPY public.users (user_id, name, password, role, created_at, updated_at) FROM stdin;
1	michael	$2b$10$0fLMb7olChSqn.R0gtXwfeDgE9qEW.5Mc7Src7ciHLa7Kuxm/Uumy	staff	2025-03-29 12:47:21.696611	2025-03-29 12:47:21.696611
\.


--
-- Name: clients_client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.clients_client_id_seq', 2, true);


--
-- Name: rooms_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.rooms_room_id_seq', 1, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotel_admin
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, true);


--
-- Name: clients clients_client_code_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_client_code_key UNIQUE (client_code);


--
-- Name: clients clients_document_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_document_key UNIQUE (document);


--
-- Name: clients clients_email_key; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_email_key UNIQUE (email);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (client_id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (room_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: hotel_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- PostgreSQL database dump complete
--

