.main-menu {
    display: flex;
    flex-direction: row; /* Mudando para linha */
    justify-content: space-evenly; /* Distribui os itens uniformemente */
    align-items: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Faz o menu ocupar toda a altura da tela */
    background-color: #f4f4f4; /* Cor de fundo para o menu */
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 150px; /* Largura fixa para os itens */
}

.menu-item:hover {
    background-color: #e0e0e0;
    transform: scale(1.05); /* Aumenta um pouco o tamanho no hover */
}

.menu-item .label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.menu-item svg {
    font-size: 36px; /* Tamanho maior para os ícones */
}